/* gallary */
/* Gallery Section */
.gallery {
    padding: 60px 20px;
    background: #f9f9f9;
}

.gallery-grid {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.gallery-grid img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-grid img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.page-banner {
    background: #37993a;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.cta {
    background: #4CAF50;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.cta button {
    padding: 12px 25px;
    background: #ebb944;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.cta button:hover {
    background: #e4b035;
}